footer .container {
  background: $gray;
  clear: both;
  width: 100%;
  & .social {
    padding: 2rem 2rem 0;
    width: 100%;
    @media (min-width:960px){
      float: left;
      padding: 4rem 4rem 0;
      width: 70%;
    }
    & .title {
      color: $light-wine;
      font-family: 'BookmanRegular',serif;
      font-size: 2rem;
      padding-left: 3rem;
      position: relative;
      @media (min-width:960px){
        font-size: 2.6rem;
      }
      &:before {
        background: $light-wine;
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        height: 4px;
        width: 40px;
      }
      & span {
        position: absolute;
        left: 0;
      }
    }
    & .menu-footer {
      padding: 4rem 0;
      & .option {
        margin: 1.4rem 0;
        & .link-menu {
          color: $dark;
          font-size: 1.6rem;
          padding-left: 1rem;
          position: relative;
          text-decoration: none;
        }
      }
    }
  }
  & .sitemap {
    background: $light-wine;
    color: $light;
    padding: 1rem 1rem 4rem;
    width: 100%;
    @media (min-width:960px){
      float: left;
      padding: 2rem;
      width: 30%;
    }
    & .title {
      font-family: 'BookmanRegular',serif;
      font-size: 2.4rem;
    }
    & .menu-sitemap {
      & .option {
        margin: 1rem 0;
      }
      & .option .link-sitemap {
        color: $light;
        display: block;
        font-family: 'BookmanRegular',serif;
        font-size: 1.2rem;
        margin: .5rem 0;
      }
    }
  }
  & .footer {
    background: $dark;
    clear: both;
    color: $light;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem;
  }
}