@keyframes headerFixed {
  from {
    top: -200px;
  }
  to {
    top: 0;
  }
}

.foo-header{
  background: $light;
  transition: all .4s linear;
  padding: 1rem 0;
  @media (min-width:960px) {
    padding: 0;
  }
  &.is-fixed{
    @media (min-width:960px) {
      box-shadow: 0 1px 10px 1px #ccc;
      position: fixed;
      width: 100%;
      z-index: 3;
      animation: headerFixed .9s ease-in-out;
      -webkit-animation: headerFixed .9s ease-in-out;
      -moz-animation: headerFixed .9s ease-in-out;
      -ms-animation: headerFixed .9s ease-in-out;
    }
  }
  & #main-wrapper{
    transition: padding 5s ease-in;
  }
  & .container header{
    padding: .2rem 0;
    display: flex;
    @media (min-width:960px) {
      align-items: center;
    }
    & .brand {
      margin: 0 auto 1rem;
      width: 94px;
      & img {
        max-height: 82px;
        width: 94px;
      }
      @media (min-width:960px){
        margin: 0;
        width: 157px;
        & img {
          width: 100%;
        }
      }
    }
    & .navegation-menu {
      max-height: 0;
      transition: max-height .4s ease-in;
      transition-delay: .3s;
      position: relative;
      visibility: hidden;
      width: 0;
      @media (min-width:960px){
        max-height: 100%;
        width: 100%;
      }
      &.menu-open{
        max-height: 10rem;
        margin: 2rem 0;
        padding: 1rem 0;
        visibility: visible;
        width: 100%;
        flex: 1;
        & ul .option{
          opacity: 1;
          transition: opacity .4s ease-in;
          transition-delay: .5s;
          text-align: center;
        }
      }
      @media (min-width:960px){
        height: 100%;
        margin-left: 2rem;
        max-width: 620px;
        padding: 2rem 0;
        visibility: visible;
      }
      & .menu {
        max-width: 600px;
        @media (min-width:960px){
          float: right;
        }
        & .option {
          display: block;
          margin: .4rem .9rem;
          opacity: 0;
          transition: opacity 1s ease-in;
          @media (min-width:960px){
            display: inline-block;
            margin: 0 .9rem;
            opacity: 1;
          }
          &:first-child{
            @media (min-width:960px){
              margin-left: 0;
            }
          }
          & .link-menu {
            color: $light-wine;
            font-size: .9rem;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
              color: $dark;
              text-decoration: underline;
            }
          }
        }
      }
    }
    & .menu-social {
      margin: 0 auto;
      max-width: 160px;
      padding: .6em 0;
      @media (min-width:960px){
        margin: 0;
        padding: 2rem;
      }
      & li{
        display: inline-block;
        margin: 0 .3rem;
      }
    }
    & .head-contact {
      color: $dark;
      display: none;
      font-style: normal;
      text-transform: uppercase;
      text-align: center;
      @media (min-width:960px){
        display: initial;
      }
    }
  }
}
#btn-menu {
  background: $light-wine;
  border-radius: 2rem;
  margin: 0 auto;
  position: relative;
  height: 40px;
  width: 40px;
  flex: 0 0 auto;
  .btn-menu-mobile{
    background: $light;
    outline: none;
    position: absolute;
    top: 1.125rem;
    left: calc(50% - 24px/2);
    height: 3px;
    width: 24px;
    &.active {
      background: rgba(255,255,255,0);
    }
    &:before , &:after {
      background: $light;
      content: '';
      position: absolute;
      left: 0;
      height: 3px;
      width: 24px;
      transition: top .5s;
      transition: transform .5s;
    }
    &:before{top: -8px;}
    &:after{top: 8px;}
    &.active:before{transform: rotate(45deg);top: 0;}
    &.active:after{transform: rotate(135deg);top: 0;}
  }
  @media (min-width:960px) {
    display: none;
  }
}
.navegation-menu.menu-open + #btn-menu {
  position: absolute;
  left: 45%;
}
.anchor {
  display: block;
  height: 120px;
  margin-top: -120px;
  visibility: hidden;
}
