.wrapper-main {
  p {
    text-align: justify;
  }
  & .head-main.atuacao {
    background: url(../images/backgrounds/bg_area-de-atuacao.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
}