.wrapper-main {
  position: relative;
  & .head-main {
    color: $light;
    height: 200px;
    padding: 2rem;
    width: 100%;
    @media (min-width:960px){
      height: 400px;
      padding: 4rem 5rem;
    }
    &.historia {
      background: url(../images/backgrounds/bg_historia.jpg) no-repeat;
      background-size: cover;
      background-position: center;
    }
    & .title {
      font-family: 'BookmanBold',sans-serif;
      font-size: 2em;
      @media (min-width:960px){
        font-size: 3em;
      }
    }
    & .subtitle {
      font-family: 'BookmanRegular',sans-serif;
      font-size: 2em;
      font-weight: lighter;
    }
  }
  & .container {
    position: relative;
  }
  & .content {
    background: $light;
    padding: 2rem;
    @media (min-width:960px) {
      margin-top: -8rem; 
      padding: 4rem;
    }
    & .intro-text {
      font-size: 1.1em;
    }
  }
  p {
    text-align: justify;
  }
}