@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

@font-face {
  font-family: 'BookmanRegular';
  src: url('../fonts/bookman-old-style_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BookmanBold';
  src: url('../fonts/bookman-old-style_bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}